@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}


h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

.custom-input-type {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=button],
input[type=submit] {
  font-size: 24px;
}

/*
 * Login
 */

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-user {
    color: black;
    font-weight: bold;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

/*
 * Main structure
 */

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.divider {
    margin-bottom: 30px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
}

.flex-button {
    width: 50px;
    height: auto;
    text-align: center;
    margin: auto auto;
}

.flex-title {
    flex: 1;
    text-align: center;
    margin: auto auto;
}

.flex-spacer {
    width: 50px;
    height: auto;
    margin: auto auto;
}

/*
 * Add Blog Button
 */

.button-container:hover {
    background-color: #157254;
}

.button-container {
    position: relative;
    float: right;
    cursor: pointer;

    height: 22px;
    padding: 5px;
    border-radius: 5px;
    background-color: #1fa67a;
    border-color: #0f543e;
}

.button-icon {
    display: inline-block;
    color: white;
}

.button-text {
    font-size: 18px;
    position: relative;
    display: inline-block;
    top: 0px;
    color: white;
}

.spacer {
    height: 35px;
}

/*
 * Post
 */

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;

    text-decoration: none;
    color: #333;
}

.post-author {
    font-size: 16px;
    font-weight: normal;

    text-decoration: none;
    color: #333;
}

.post-title:visisted {
    color: #333;
}

.post-date, .comment-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    margin-top: 5px;
}

/*
 * Comments
 */

.comment + .comment {
    margin-top: 10px;
}

.comment-heading {
    position: relative;
    border-bottom: 1px solid #666;
}

.comment-title {
    font-size: 20px;
    font-weight: bold;

    text-decoration: none;
    color: #333;
}

.comment-content {
    margin-top: 5px;
}

.comments-link {
    color: gray;
    text-decoration: none;
}

/*
 * Options
 */

.options {
    display: inline-block;
    width: 100%;
}
.option-left {
    float: left;
}

.option-right {
    float: right;
}

.option-item {
    display: inline-block;
    padding: 0px 5px;
    cursor: pointer;
    color: gray;
}

.comments-link:hover,
.option-item:hover {
    color: #157254;
}

.option-icon-12 {
    font-size: 12px;
}

.option-icon-20 {
    font-size: 20px;
}

/*
 * Others
 */

.age {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}
